.spost-background {
    max-width: 110rem;
    height: 40rem;

    background: url("../images/background.jpg") no-repeat center center / cover;
}

.spost-container {
    z-index: -1;

    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: -15rem;
    padding: 3rem;

    border-radius: 1.5rem;
    background-color: antiquewhite;
}

.spost-container h2 {
    font-size: 3rem;
    font-weight: 600;

    letter-spacing: 5px;
    text-transform: uppercase;
}

.spost-headers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3rem 0;
}

.spost-profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3rem 0;
}

.spost-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spost-img-container {
    width: 6rem;
    height: 6rem;

    border-radius: 0.5rem;
    background: no-repeat center center / cover;
}

.spost-user-details {
    font-size: 1.2rem;
    font-weight: 400;

    margin: 0 1rem;

    letter-spacing: 1px;

    color: brown;
}

.spost-user-details h4 {
    text-transform: uppercase;
}

.spost-categories {
    font-size: 1.2rem;

    display: inline-block;

    padding: 0.3rem 1.5rem;

    text-transform: capitalize;

    border-radius: 0.2rem;
    background-color: brown;
}

.spost-description {
    font-family: "Roboto Serif", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

    width: 100%;

    border: none;
}

.spost-description::first-letter {
    font-size: 40px;
    font-weight: 600;
}

.spost-image {
    max-width: 30rem;
    height: auto;
    margin-top: 20px;

    border-radius: 0.3rem;
}
