.post-user-image {
    width: 45px;
    height: 45px;

    border-radius: 50%;

    object-fit: cover;
}

.post-dropdown {
    text-align: end !important;

    color: #FFFFFF !important;
}

.post-desc-cont {
    display: flex;
    justify-content: space-around;
}

.post-img-main {
    width: 400px;
    height: auto;

    border-radius: 10px !important;

    object-fit: contain;
}

.post-desc-main {
    font-family: "Roboto Serif", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.post-desc-main::first-letter {
    font-size: 40px;
    font-weight: 600;
}

@media(max-width: 1000px) {
    .post-desc-cont {
        align-items: center;
        flex-direction: column;
    }

    .post-img-main {
        width: 400px;
        height: auto;

        border-radius: 10px !important;

        object-fit: contain;
    }

    .post-desc-main {
        padding-top: 40px;
    }
}
